.navbarwhitebrandtext{
  color: white;
}

.navbarwhitebrandtext:hover{
  color: white;
}

.bgnav{
  background-color: #de8231;
}

.btnav{
  color: rgb(179, 179, 179);
  background-color: #ffffff;
  padding: 10px;
  display: center;

}

.btnav:hover{
  color: rgb(46, 46, 46);
}

/* Esilização dos botões de função */
input[type=number]{
  width: 300px;
}

.btnfunc{
  background-color: #f39c50;
  color: white;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  box-sizing: border-box;
}

.btnfunc:hover{
  width: 120px;
  height: 60px;
  border-bottom: #de8231 8px solid;
  border-right: #de8231 8px solid;
  box-sizing: border-box;
}

.btnfunclongo{
  background-color: #f39c50;
  color: white;
  border: none;
  width: 220px;
  height: 50px;
  border-radius: 10px;
  box-sizing: border-box;
}

.btnfunclongo:hover{
  width: 230px;
  height: 60px;
  border-bottom: #de8231 8px solid;
  border-right: #de8231 8px solid;
  box-sizing: border-box;
}

.btnfuncxl{
  background-color: #f39c50;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  box-sizing: border-box;
}

.btnfuncxl:hover{
  width: 150px;
  height: 60px;
  border-bottom: #de8231 8px solid;
  border-right: #de8231 8px solid;
  box-sizing: border-box;
}



.container-btn{
  height: 100px;
  width: 1000px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.btnumber{
  border-color: #de8231;
  margin-right: 15px;
}

.btnumber:focus{
  outline: none;
}

/* Estilização da SideBar */
.sidebar {
  width: 250px;
  height: 300px; /* Defina a altura que desejar */
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f8f9fa; /* Cor de fundo da sidebar */
  border-right: 1px solid #ddd;
  padding: 20px;
}

/* Responsividade dos textos (Cuidado ao alterar!) */
  @media (max-width: 576px) {
    p {
      font-size: 14px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    p {
      font-size: 18px;
    }
  }

  @media (min-width: 992px) {
    p {
      font-size: 22px;
    }
  }