.navbarwhitebrandtext{
  color: white;
}

.navbarwhitebrandtext:hover{
  color: white;
}

.bgnav{
  background-color: #de8231;
}

.btnav{
  color: rgb(179, 179, 179);
  background-color: #ffffff;
  padding: 10px;
  display: center;

}

.btnav:hover{
  color: rgb(46, 46, 46);
}

/* Esilização dos botões de função */
.btnfunc{
  background-color: #f39c50;
  color: white;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  box-sizing: border-box;
}

.btnfunc:hover{
  width: 120px;
  height: 60px;
  border-bottom: #de8231 8px solid;
  border-right: #de8231 8px solid;
  box-sizing: border-box;
}

.btnfunclongo{
  background-color: #f39c50;
  color: white;
  border: none;
  width: 220px;
  height: 50px;
  border-radius: 10px;
  box-sizing: border-box;
}

.btnfunclongo:hover{
  width: 230px;
  height: 60px;
  border-bottom: #de8231 8px solid;
  border-right: #de8231 8px solid;
  box-sizing: border-box;
}

.container-btn{
  height: 100px;
  width: 1000px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.btnumber{
  border-color: #de8231;
  margin-right: 15px;
}

.btnumber:focus{
  outline: none;
}

/* Estilização da SideBar */
.sidebar {
    position: fixed;
    height:100%;
    background-color: #f39c50;
}

.sidebarbuttondiv{
    background-color: #f39c50;
    position: fixed;
    height: 48px;
    width: 64px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.sidebarbutton{
    background-color: #f39c50;
    border: none;
}

.sidebar-nav{
    padding: 15px;
}

/* Responsividade dos textos (Cuidado ao alterar!) */
  @media (max-width: 576px) {
    p {
      font-size: 14px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    p {
      font-size: 18px;
    }
  }

  @media (min-width: 992px) {
    p {
      font-size: 22px;
    }
  }