body{
background-color: #303030;
scroll-behavior: smooth;
}

.white{
color: white;
}

.animacao{
width: 100%;
height: 10px;
background-color: rgb(255, 121, 121);
position: relative;
animation-name: example;
animation-duration: 4s;
animation-delay: 3s;
animation-iteration-count: infinite;
}

@keyframes example {
0%   {background-color:rgb(255, 121, 121);}
15%  {background-color:rgb(255, 185, 110);}
30%  {background-color:rgb(255, 241, 116);}
45%  {background-color:rgb(124, 255, 128);}
60%  {background-color:rgb(117, 193, 255);}
75%  {background-color:rgb(135, 117, 255);}
90%  {background-color:rgb(250, 117, 255);}
100% {background-color:rgb(255, 121, 121);}
}

.sidebar {
    position: fixed;
    width: 250px;
    height:100%;
    background-color: #343a40;
}