body{
  background-color: white;
  font-family: "Arimo", arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: white;
  margin-right: 5px;
  transition: 0.3s;
}
a:hover{
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.704);
}

.white{
  color: white;
}

.white:hover{
  color: white;
}

/* Footer */
.footercolor{
  background-color: #474847;
  color: white;
  width: 100%;
  height: 100px;
  padding: 40px;
  display: flex;
}

/* Estilização Navbar */
.bgnav{
  background-color: #393C3D;
  padding: 15px;
}

.btnav{
  color: rgb(179, 179, 179);
  background-color: #ffffff;
  padding: 15px;
  display: center;
}
/* Imagem section */
#home{
  margin-top: 0px;
  width: 100%;
  height: 890px;
  background-color: #626262;
  box-shadow: #393C3D 0px 10px 10px;
}
#VideoInicial{
  max-width: 100%;
  height: auto;
  outline: none;
  border: none;
}

#sobremim{
  width: 100%;
  height: 1000px;
  padding-top: 50px;
  margin-top: 50px;
  box-shadow: #000000 0px 10px 10px;
}

#hobbies{
  background-color: #919190;
  height: 800px;
  padding-top: 50px;
}

#contato{
  background-image:url(/Images//Banner\ contato.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}


/* Cards Produto */
.card{
  border: none;
  border-radius: 0px;
  height: 250px;
  transition: filter 0.5s ease-in-out;
}

#bghobbies1{
  background-image: url(/Images/bghobbies1.jpg);
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.card:hover{
  filter: brightness(0.5);
}

/* Formulario de contato */
#formin{
  width: 100%;
  height: 50px;
}
#formin:focus{
  outline: #2a6280 1px solid;
}

#butmit{
  height: 50px;
  width: 200px;
  margin-top: 30px;
  
}

/* Responsividade dos textos (Cuidado ao alterar!) */
  @media (max-width: 576px) {
    p {
      font-size: 12px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    p {
      font-size: 16px;
    }
  }

  @media (min-width: 992px) {
    p {
      font-size: 20px;
    }
  }